%head
  %title Dfitw.xyz
  %link{:rel => :stylesheet, :type => :"text/css", :href => "/index.css"}
%body
  %h1.title Welcome
  %h2 Hello, im Damien
  %p This is my personal website that i kinda just made for fun and to test stuff out.
