%h1.title Welcome
.margin-lr-1em
  %h2 Hello, im Damien
  %p
    This is my personal website, it is written in Ruby using the Sinatra framework and hosted on a personal VPS. You can check out the source code 
    %a{:href=> 'https://github.com/dfitw/website'} here.
  %p
    I am from New York. I have a Bachelors Degree in Electrical & Computer Engineering 
    from the University at Albany SUNY. I am interested in high voltage power systems, software development, and DevOps.
  %p
    %a{:href=> 'contact'} contact
    if you want to
